body
    padding-top: 120px
    background: #D9D9D9
#main-nav
    .logo-nav img
        max-height: 75px
    .action-group
        margin-top: 15px
        float: left
        .btn-group
            margin-top: 8px
    .costs
        float: left
        margin: 0
        list-style: none
        padding-left: 15px
        color: white
        margin-top: 15px
        li
            line-height: 26px
            &.water i
                color: #6D9EEB
            &.pesticide i
                color: #E06666
            &.fertilizer i
                color: #38761C
        i
            margin-right: 5px
